input {
    border: none;
    background-color: #F6F8E2 !important;
    border-radius: 30px !important;
    padding:16px 32px !important;
}

.history-card {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #004E4E;
}

.history-card {
    text-decoration: none;
    font-size: clamp(2rem, 1.5789rem + 2.1053vw, 3rem);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history-card span {
    color: #F6F8E2;
}
.separator {
    width: 1px;
    height: 40px;
    background-color: #dee2e6;
    margin: 0 8px;
}

.date {
    font-size: clamp(1rem, 0.7895rem + 1.0526vw, 1.5rem);
    font-weight: 400;
}

.card-container {
    height: calc(100vh - 90px - 205.625px);
    overflow-y: auto;  
    border-radius: 0.25rem;    
    padding: 0.5rem;   
}

.card-container::-webkit-scrollbar {
    width: clamp(0.0625rem, -0.1217rem + 0.9211vw, 0.5rem);
}
.card-container::-webkit-scrollbar-thumb {
    background: #b1adbd;
    border-radius: 4px;
}



.history-card-inside {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: clamp(2rem, 1.5789rem + 2.1053vw, 3rem);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history-card-inside span {
    color: #F6F8E2;
}

.history-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    justify-items: center; 
    align-items: center; 
}

.history-images img {
    width: 100%; 
    height: auto; 
    max-height: 150px; 
    object-fit: cover; 
    border-radius: 10px;
}

.view-history-modal {
    border-radius: 20px !important;
    background-color: #3C3D42 !important;
    padding: 20px;
    max-height: 80vh; 
    overflow-y: auto; 
}

.view-history-modal::-webkit-scrollbar {
    width: 8px;
}
.view-history-modal::-webkit-scrollbar-thumb {
    background: #b1adbd;
    border-radius: 4px;
}

.image-container {
    overflow-x: auto;
}
.image-container::-webkit-scrollbar-thumb:horizontal {
    background: #b1adbd;
    border-radius: 4px;

}

.image-container img{
    height: 100%;
}
